@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    font-family: 'Poppins', sans-serif;
}
.navbackground{

    background-color: #fff;
    border: 1px solid;
    
}
.theadclass{
    background-color: green;
}